$bodyBackgroundColor: #fff;
$headerTextColor: #2c2f3c;
$buttoBackgroundColor: #699900;
$accentColor: #21232e;
$wordsBackgroundColor: #14a0c7;
$sourceSans: 'Source Sans Pro', sans-serif;
$hinda: 'Hind', sans-serif;
$fresca: 'Fresca', sans-serif;
$backgroundImage: "../img/m-h-day.jpg";
$font-sizes:("main-f-z": 16px, "btn-f-z": 20px);